 /*CSS do menu de navegação*/
.container {
   height: 100%;
}

.sidenav {
   width: 13rem;
   color: rgb(0,255,46);
   background: linear-gradient(180deg, rgba(0,12,36,1) 100%, rgba(8,0,255,1) 100%);
}

.sidenav a {
  color: rgb(0,255,46);
}

.sidenav i {
   margin-right: .6rem;
}

.menu {
   margin: 1rem 0 0 1rem;
   color: rgb(0,255,46);
   background: linear-gradient(180deg, rgba(0,12,36,1) 100%, rgba(8,0,255,1) 100%);
}